/*neste caso vamos usar o rgb() e dentro as cores vermelho verde e azul, cada cor vai de 0 a 255*/

h1 {
    background: rgb(255,0,0);
   }

/*neste caso vamos usar o sistema hexadecimal usando o # e os 3 números em hexa*/

p {
    color: #88BD7B;
}


/*
RGB:

    RED
    GREEN
    BLUE

HEXADECIMAL
*/

/*tem alguns sites de cores como o W3SCHOOLS.COM, o COLOR.ADOBE.COM e o COOLORS.CO */
